.new-tweet, .new-tweet form {
  width: 100%;
  display: flex;
  flex-direction: column;
  
}

.new-tweet form textarea {
  background: transparent;
  border: none;
  resize: none;
  border-bottom: 3px solid gray;
  outline: none;
  padding: 0.5em 0;
}

.new-tweet form div {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
  font-family: "Bungee", cursive;
}

.new-tweet form div button {
  background-color: royalblue;
  color: #ffff;
}


.tweets article {
  display: flex;
  flex-direction: column;
  border: solid blue 5px;
  padding: 1em ;  
  
}

.tweets article:hover  {
 border: solid orange 5px
}

 .tweets article i:hover {
  color:  orange 
 }


.tweets article footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.tweets article footer div {
  display: flex;

}

.tweets article main {
  display: flex;
  justify-content: left;
}

.tweets article header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2 em 0;
}

 .tweets article hr {
  height:5px;
  border-width:0;
  background-color: blue;
  width: 100%;
} 

.tweets article i p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
}

#errorLabel {
color: #c51244 !important;
padding: 10px !important;
border-radius: 0 !important;
position: relative; 
display: none;
box-shadow: 1px 1px 1px #aaaaaa;
margin-top: 10px;
}


